[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/bundle/ale"]
	path = vim/bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/bundle/vim-lion"]
	path = vim/bundle/vim-lion
	url = https://github.com/tommcdo/vim-lion.git
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/bundle/vimwiki"]
	path = vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
	branch = dev
[submodule "vim/bundle/vim-solarized8"]
	path = vim/bundle/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/calendar-vim"]
	path = vim/bundle/calendar-vim
	url = https://github.com/mattn/calendar-vim.git
[submodule "vim/bundle/splitjoin.vim"]
	path = vim/bundle/splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/bats.vim"]
	path = vim/bundle/bats.vim
	url = git@github.com:aliou/bats.vim.git
