[submodule "vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/bundle/ale"]
	path = .vim/bundle/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/bundle/vim-lion"]
	path = .vim/bundle/vim-lion
	url = https://github.com/tommcdo/vim-lion.git
[submodule "vim/bundle/vimwiki"]
	path = .vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/calendar-vim"]
	path = .vim/bundle/calendar-vim
	url = https://github.com/mattn/calendar-vim.git
[submodule "vim/bundle/splitjoin.vim"]
	path = .vim/bundle/splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim.git
	branch = main
[submodule "vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/bats.vim"]
	path = .vim/bundle/bats.vim
	url = https://github.com/aliou/bats.vim.git
[submodule ".vim/bundle/vim-rhubarb"]
	path = .vim/bundle/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule ".vim/bundle/vim-pandoc"]
	path = .vim/bundle/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule ".vim/bundle/vim-pandoc-syntax"]
	path = .vim/bundle/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/pack/tpope/start/eunuch"]
	path = .vim/pack/tpope/start/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule ".vim/pack/parkr/start/jekyll"]
	path = .vim/pack/parkr/start/jekyll
	url = https://github.com/parkr/vim-jekyll.git
[submodule ".vim/bundle/vim-elixir"]
	path = .vim/bundle/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir.git
[submodule ".vim/pack/bfrg/start/vim-jq"]
	path = .vim/pack/bfrg/start/vim-jq
	url = https://github.com/bfrg/vim-jq.git
[submodule ".vim/pack/hashivim/start/vim-terraform"]
	path = .vim/pack/hashivim/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule ".vim/pack/stephpy/start/vim-yaml"]
	path = .vim/pack/stephpy/start/vim-yaml
	url = https://github.com/stephpy/vim-yaml.git
